/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/ComputerGraphicsProject1.exe
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/ComputerGraphicsProject1.exe.config
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/ComputerGraphicsProject1.pdb
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/ComputerGraphicsProject1.vshost.exe
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/ComputerGraphicsProject1.vshost.exe.config
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/ComputerGraphicsProject1.vshost.exe.manifest
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/Thumbs.db
/ComputerGraphicsProject1/ComputerGraphicsProject1/bin/Debug/meinPhoto.png
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/App.g.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/App.g.i.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/BasicFilters.baml
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/BasicFilters.g.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/BasicFilters.g.i.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.Properties.Resources.resources
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.csproj.FileListAbsolute.txt
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.csproj.GenerateResource.Cache
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.csprojResolveAssemblyReference.cache
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.exe
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.g.resources
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1.pdb
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1_MarkupCompile.cache
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/ComputerGraphicsProject1_MarkupCompile.i.cache
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/CustomConvolutionFilter.baml
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/CustomConvolutionFilter.g.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/CustomConvolutionFilter.g.i.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/MainWindow.baml
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/MainWindow.g.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/MainWindow.g.i.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ComputerGraphicsProject1/ComputerGraphicsProject1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
